{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">


<body style="background-color: rgba(209, 198, 158, 0.673);">
    <br>
    <h4 id="x1">UP TP 50% SALES!</h4>
    <hr>
    <h1 id="x2">Mounirah</h1>

    <div class="topnav">
        <a href="{% url 'index' %}">Home</a> <!--class="active"-->
        <a href="{% url 'products' %}">Shop</a>

        {% if user.is_authenticated  %}
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'checkout' %}">Checkout</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register_user' %}">Sign Up</a>
        {% endif %}
    </div>
</body>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}


<link rel="icon" type="image/x-icon" href="{% static 'images/WhatsApp Image 2023-02-28 at 8.21.48 PM.jpeg' %}">

{% block content %}
{% endblock content %}


<footer class="footer">
    
    <div class="inner-footer">
        <div class="social-links">
            <ul>
                <li class="social-items"><a href="https://www.instagram.com/mounirah.eg/"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="social-items"><a href="facebook"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>

        <div class="quick-links">
            <ul>
                <li class="quick-items"><a href="">About Us</a></li>
                <li class="quick-items"><a href="{% url 'contactus' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
